/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 header {
  width: 100%;
  background: #222;
  height: 70px;
}

body {
  margin: 0;
}

.header-right {
  float: right;
  margin-right: 20rem;
}

form#room_search {
  display: flex;
}

.header-left {
  display: inline-flex;
}

.header-sharch.d-lg-inline-block {
  margin: 25px 10px;
}

input#q_address_cont {
  height: 30px;
}

input#q_room_body_cont {
  height: 30px;
}

.dropdown1 {
  position: relative;
  float: right;
  vertical-align: top;
  width: 65px;
  height: 65px;
}

//メニュー
.dropdown {
  margin: 0 0 0 auto;
  position: relative; 
}
.dropdown__btn {
  display: block;
  width: 1.5em;
  padding: 0.2em;
  background: none; 
  border: 0; 
}
.dropdown__body {
  width: 250px;
  background: #fff;
  box-shadow: 0 2px 6px 2px rgba(60,64,67,0.149), 0 1px 2px 0 rgba(60,64,67,0.302);
  border-radius: 4px;
  overflow: hidden;
  position: absolute; 
  top: 32px;
  left: 0;
}
.dropdown__list { 
  margin: 0;
  padding: 0;
}
.dropdown__item {
  display: block;
}
.dropdown__item-link {
  display: block;
  padding: 1em 1.2em;
  font-size: 0.95em;
  text-decoration: none;
  color: #222;
}
.dropdown__item-link:hover {
  background: #fff;
}

.dropdown__body {
  display: none;
}
.dropdown__btn.is-open + .dropdown__body {
  display: block;
  z-index: 4;
}

//


li.menu__single ul.menu__second-level {
  position: absolute;
  top: 40px;
  width: 100%;
  background: #072A24;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

li.menu__single:hover ul.menu__second-level {
  top: 50px;
  visibility: visible;
  opacity: 1;
}

//ログイン、登録関係、ボタン
.header-item {
  color: #fff;
  padding: 8px;
  display: inline-block;
  margin: 10px;
  border-radius: 5px;
  text-decoration: none;
}

h2.login-title {
  font-size: 15px;
  margin-bottom: 20px;
}

.btn-1 {
  background: #4a90e2 !important;
}

.btn-2 {
  background: #6c757d;
}

input[type="submit"] {
  background: #007bff;
  color: #fff;
  border-color: #007bff;
  border-radius: 5px;
  cursor: pointer;
  padding: 5px 30px 5px 30px;
}

input.field-form {
  width: 15rem;
  margin: 10px;
  padding: 5px 0;
}

a {
  text-decoration: none;
}

.actions {
  margin: 15px;
}

//必須 :after :before
.required-a::after {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}

.required-b::before {
    content: "必須";
    color: #fff;
    background-color: #ff0000a8;
    font-size: 12px;
    border-radius: 5px;
    padding: 4px;
    margin: 0 5px;
}

//アカウント作成
.login-form {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
}

.login-area {
  border: 2px solid #fff;
  box-shadow: 0px 1px 3px 0px;
  margin: 0 25rem;
  padding: 30px;
}

//コンテンツ１
.main .contents-1 {
  background-image: url(https://presite-potepancamp-rails-02.herokuapp.com/assets/img_cover_top.jpg);
  background-size: cover;
  width: 100%;
  height: 650px;
}

p.form-area-title {
  font-size: 20px;
  font-weight: 500;
}


.form-area {
  background: #fff;
  display: grid;
  height: 200px;
  padding: 24px;
  border-radius: 5px;
}

.form-fream {
  align-items: center;
  display: flex;
  height: 650px;
  margin-left: 50px;
}

form#search_form {
  display: grid;
}

//コンテンツ２
.panel-area {
  margin: 2rem;
}

h1.panel-title {
  font-size: 30px;
  font-weight: bold;
  padding: 20px 0;
  margin-left: 30px;
}

.panel-items {
  display: flex;
}


.panel-items span {
  position: absolute;
  color: #fff;
  bottom: 15%;
  right: 40%;
  z-index: 1;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.panel-item {
  flex-basis: 100%;
  padding: 30px;
  position: relative;
}

img.panel-image {
  width: 100%;
  height: 350px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 30px;
}

//フッター
footer {
  width: 100%;
  height: 180px;
  background: #222;
  color: #fff;
  text-align: center;
  padding-top: 90px;
}