// Place all the styles related to the rooms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.main-new {
  display: flex;
}

.main-new-left {
    width: 300px;
    height: 800px;
}

h1.main-new-2 {
    padding: 20%;
    font-size: 25px;
}

.main-new-right {
    background: #F6F8F9;
    width: 100%;
    border-left: 2px solid;
}

.main-room {
    background: #fff;
    margin: 50px;
}

h1.main-title {
    font-size: 25px;
    padding: 10px;
    border-bottom: 2px solid;
}

.room-nav {
    font-size: 20px;
    padding: 30px;
    border-bottom: 2px solid #eaedef;
}

label.class_name {
    font-weight: bolder;
}

.nav-text {
    margin-left: 50px;
    position: absolute;
}

//部屋詳細

.room-show {
    padding: 30px 150px;
}

.row {
    display: flex;
}

.room-show-detile {
    display: flex;
}

.user-icon {
    padding: 10px 10px 10px 0;
}

.room-name {
    font-size: 20px;
    font-weight: bold;
    padding: 15px 0;
}

.room-profile {
    padding: 15px;
}

p.room-body {
    border-top: 1px solid #eaedef;
    border-bottom: 1px solid #eaedef;
    padding: 30px 10px;
}

//右側 予約

.room-money::before {
    content: "￥";
    padding-right: 3px;
}

.room-money::after {
    content: " / 日";
    padding-right: 3px;
}

.room-show-nav {
    padding: 20px;
    border: 1px solid #eaedef;
}

h5.room-money {
    font-size: 25px;
    padding: 15px 0;
}

.room-show-date {
    display: table-caption;
}

.col-2 {
    padding: 0 20px 20px 100px;
}

label.room-nav-date {
    font-size: 20px;
}

input.room-nav-field {
    font-size: 15px;
    width: 20rem;
    margin: 15px 0;
}


//ルーム一覧
.room-1 {
    display: flex;
}

.room-s {
    border: 1px solid #e2e2e2;
    padding-bottom: 10px;
    width: 100%;
    height: 10rem;
}

p.room-money1 {
    text-align: end;
    padding: 20px;
}

p.room-address {
    padding: 10px;
    font-weight: bold;
}

p.room-name1 {
    font-size: 20px;
    padding: 10px;
}

.container-fiuld.room-posts {
    padding: 0 10rem;
}


//予約済みルーム
h4.pb-4 {
    font-size: 1.5rem!important;
}

th {
    padding: 8px 15px;
    font-size: 14px;
    letter-spacing: 1px;
    width: 500px;
}

.room-posts {
    padding: 30px 60px;
}

//検索フォーム

.col-xl-3.col-sm-6.col-lg-4 {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.room-frame-inner {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.room-image-out {
    position: relative;
    width: 100%;
    background: #F6F8F9;
}

.room {
    width: 100%;
    padding: 30px 60px;
}
.room-profile {
    width: 100%;
    padding: 15px;
}
a {
    color: #000;
}


